
{{>background}}
<div class="content-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1">

                <form class="pure-form pure-form-stacked" action="/createaccount" method="post">

                    <fieldset>

                        <label for="email">Email</label>
                        <input id="email" name="email" type="text" placeholder="Email" required>

                        <label for="username">Username</label>
                        <input id="username" name="username" type="text" placeholder="Username" required>

                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="Your Password" required>

                        <label for="confirmpassword">Password</label>
                        <input id="confirmpassword" type="password" placeholder="Your Password" oninput="validateFields()" required>

                        <label for="question">Security Question</label>
                        <input id="question" name="question" type="text" placeholder="What is your pet's name" required>

                        <label for="answer">Answer</label>
                        <input id="answer" name="answer" type="text" placeholder="Happy" required>

                        <button type="submit" class="pure-button">Submit</button>

                    </fieldset>

                </form>

            </div>
        </div>
    </div>
    {{>footer}}

</div>

<script src="/resources/js/createaccount.js"></script>
