{{>background}}
<div class="content-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1">

                <form class="pure-form pure-form-stacked" action="/createaccount" method="post">

                    <fieldset>

                        <label for="email">Email</label>
                        <input id="email" type="text" placeholder="Email">

                        <label for="username">Username</label>
                        <input id="username" type="text" placeholder="Username">

                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <label for="confirmpassword">Confirm Password</label>
                        <input id="confirmpassword" type="text" placeholder="Password">

                        <label for="question">Security Question</label>
                        <input id="question" type="text" placeholder="What is your pet's name">

                        <label for="answer">Answer</label>
                        <input id="answer" type="text" placeholder="Happy">

                        <button type="submit" class="pure-button">Submit</button>

                    </fieldset>

                </form>

            </div>
        </div>
    </div>
    {{>footer}}

</div>