{{>background}}
<div class="content-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1">

                <form class="pure-form pure-form-stacked">

                    <fieldset>

                        <label for="email">What is the email associated with your account?</label>
                        <input id="email" type="text" placeholder="Email">

                        <button type="submit" class="pure-button">Submit</button>

                    </fieldset>

                </form>

            </div>
        </div>
    </div>
    {{>footer}}
</div>