{{>background}}
<div class="content-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1">

                <form class="pure-form pure-form-stacked" id="form" action="/signin" method="post">

                    <fieldset>

                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" placeholder="Email" required>

                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="Your Password" required>

                        <button type="submit" class="pure-button">Signin</button>

                    </fieldset>

                </form>

                <p>
                    <a href="/createaccount">Create Account</a>
                    <span class="blue">/</span>
                    <a href="/forgotpassword">Forgot Password</a>
                </p>

            </div>
        </div>
    </div>
    {{>footer}}
</div>